.chatroom {
  width: 100%;
  padding: 3px 8px 3px 5px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.chatroom > span {
  flex: 1;
  margin-left: 8px;
  margin-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--light);
  max-width: 169px;
  overflow: hidden;
}

.chatroom > svg {
  display: none;
  color: var(--lighter);
}

.chatroom:hover {
  background-color: #3a3d41;
  cursor: pointer;
}

.chatroom:hover > span {
  color: white;
}

.chatroom:hover > svg {
  display: block;
}
